
.icon {
  background-image: url('../images/sprite.png');
}

.icon-telegramm {
  background-position: -0px -0px;
  width: 38px;
  height: 32px;
}
.icon-facebook {
  background-position: -0px -32px;
  width: 20px;
  height: 35px;
}
.icon-inst {
  background-position: -0px -67px;
  width: 37px;
  height: 36px;
}
.icon-force {
  background-position: -0px -103px;
  width: 51px;
  height: 37px;
}
.icon-logo {
  background-position: -0px -140px;
  width: 163px;
  height: 37px;
}
.icon-check-white {
  background-position: -0px -177px;
  width: 41px;
  height: 41px;
}
.icon-check-red {
  background-position: -0px -218px;
  width: 41px;
  height: 41px;
}
.icon-check-black {
  background-position: -0px -259px;
  width: 41px;
  height: 41px;
}
.icon-cart {
  background-position: -0px -300px;
  width: 50px;
  height: 43px;
}
.icon-dishes {
  background-position: -0px -343px;
  width: 50px;
  height: 44px;
}
.icon-graph2 {
  background-position: -0px -387px;
  width: 50px;
  height: 45px;
}
.icon-grpah {
  background-position: -0px -432px;
  width: 50px;
  height: 45px;
}
.icon-heart {
  background-position: -0px -477px;
  width: 52px;
  height: 46px;
}
.icon-run {
  background-position: -0px -523px;
  width: 50px;
  height: 53px;
}
.icon-aple {
  background-position: -0px -576px;
  width: 50px;
  height: 55px;
}
.icon-reaple {
  background-position: -0px -631px;
  width: 49px;
  height: 56px;
}
.icon-aple-red {
  background-position: -0px -687px;
  width: 50px;
  height: 58px;
}
.icon-dfood {
  background-position: -0px -745px;
  width: 50px;
  height: 59px;
}
