<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <title>RocketBody</title>

        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- build:css styles/main.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
