<div class="app">
    <nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="#home" title="Rocketbody logo" class="navbar-brand"><img src="images/logo-footer.png" alt="rocketbody"></a>
            <a type="button" id="burger" class="navbar-burger hamburger hamburger--spin">
                <span class="sr-only">Раскрыть навигацию</span>
                <div class="hamburger-box"></div>
                <div class="hamburger-inner"></div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="collapse">
            <ul class="nav navbar-nav list-inline list-unstyled">
                <li class="navbar-nav-item"><a href="#super" class="navbar-link">СУПЕРКОМПЕНСАЦИЯ</a></li>
                <li class="navbar-nav-item"><a href="#food" class="navbar-link">ПИТАНИЕ</a></li>
                <li class="navbar-nav-item"><a href="#training" class="navbar-link">ТРЕНИРОВКА</a></li>
                <li class="navbar-nav-item"><a href="#bands" class="navbar-link">БРАСЛЕТЫ</a></li>
                <li class="navbar-nav-item"><a class="btn btn-cta" id="closenav">ЗАКАЗАТЬ</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
    <!-- JUMBO -->
    <section class="jumbo" id="home">
        <div class="container">
            <div class="left-box">
                <img src="images/jumbo-img.png" class="jumbo-img" alt="">
            </div>
            <div class="right-box text-center">
                <small class="jumbo-sub-header">Браслет суперкомпенсации:</small>

                <h1 class="jumbo-header">
                    Революция в беге!
                </h1>
                <p class="jumbo-text">Сделай заказ сейчас<br/> со скидкой 25%</p>
                <a class="btn btn-cta jumbo-cta" data-toggle="modal" data-target="#myModal">ЗАКАЗАТЬ</a>
                <span class="jumbo-price-sale"><br/>259 $</span>
                <span class="jumbo-price">195 $</span>
            </div>
        </div>
    </section>

    <!-- BAND -->
    <section class="band">
        <div class="container">
            <div class="left-box">
                <h2 class="band-header">
                    удобный браслет для занятия спортом
                </h2>
                <ul class="list-unstyled band-list">
                    <li class="band-list-item"><i class="icon icon-heart"></i><div>ЭКГ</div></li>
                    <li class="band-list-item"><i class="icon icon-graph2"></i><div>Прогресс восстановления после тренировки</div></li>
                    <li class="band-list-item"><i class="icon icon-force"></i><div>Интенсивность нагрузки во время тренинга</div></li>
                    <li class="band-list-item"><i class="icon icon-reaple"></i><div>Уровень и скорость обмена веществ</div></li>
                </ul>
            </div>
            <div class="right-box" >
                <img src="images/band.png" alt="Rocket Body bands" class="band-img">
            </div>
        </div>
    </section>

    <!-- FEATURE LIST -->
    <section class="feature">
        <div class="container">
            <ul class="list-unstyled list-inline feature-list">
                <li class="feature-list-item"><i class="icon icon-grpah"></i>Суперкомпенсация<sub>ТМ</sub></li>
                <li class="feature-list-item"><i class="icon icon-run"></i>План тренировок</li>
                <li class="feature-list-item"><i class="icon icon-dfood"></i>План питания</li>
            </ul>
        </div>
    </section>

    <!-- SUPER -->
    <section class="super" id="super">
        <div class="container">
            <hgroup class="super-hgroup text-center">
                <h2 class="super-header">Суперкомпенсация&nbsp;– <br/></h2>
                <h3 class="super-text">это момент, во время которого организм может тренироваться эффективнее на 20%</h3>
            </hgroup>
            <div class="left-box">
                <img src="images/graph.png" alt="" class="super-img">
            </div>
            <div class="right-box">
                <ul class="list-unstyled super-list">
                    <li class="super-list-item"><i class="icon icon-check-red"></i><div>Определение интенсивности нагрузки</div></li>
                    <li class="super-list-item"><i class="icon icon-check-red"></i><div>Рекомендации плана восстановления</div></li>
                    <li class="super-list-item"><i class="icon icon-check-red"></i><div>Планирование совпадение графика тренировок и суперкомпенсации</div></li>
                    <li class="super-list-item"><i class="icon icon-check-red"></i><div>Прогноз наступления суперкомпенсации</div></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- FOOD -->
    <section class="food" id="food">
        <div class="container">
            <div class="left-box">
                <h2 class="food-header">Питание</h2>
                <p class="food-text">Обрети жизненный тонус</p>
                <ul class="list-unstyled food-list">
                    <li class="food-list-item"><i class="icon icon-aple"></i><div>Постановка целей по питанию</div></li>
                    <li class="food-list-item"><i class="icon icon-aple-red"></i><div>Построение рациона питания по удобному граффику</div></li>
                    <li class="food-list-item"><i class="icon icon-dishes"></i><div>Готовое меню из любимых продуктов</div></li>
                    <li class="food-list-item"><i class="icon icon-cart"></i><div>Корзина продуктов на неделю</div></li>
                </ul>
            </div>
            <div class="right-box text-right">
                <img src="images/food.png" alt="" class="food-img">
            </div>
        </div>
    </section>

    <!--  TRAINING-->
    <section class="training" id="training">
        <div class="container">
            <div class="left-box">

            </div>
            <div class="right-box">
                <h2 class="training-header">Тренировки</h2>
                <p class="training-text">Ускорь прогресс в 2 раза!</p>
                <ul class="list-unstyled training-list">
                    <li class="training-list-item"><i class="icon icon-check-black"></i><div>График тренировок</div></li>
                    <li class="training-list-item"><i class="icon icon-check-black"></i><div>Список упражнений, подходов, повторов</div></li>
                    <li class="training-list-item"><i class="icon icon-check-black"></i><div>Индикатор готовности к тренировке</div></li>
                    <li class="training-list-item"><i class="icon icon-check-black"></i><div>Гибкие рекомендации по интенсивности нагрузки</div></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- BANDS -->
    <section class="bands" id="bands">
        <div class=container>
            <div class="left-box">
                <h2 class="bands-header">Ешь что хочешь и добивайся результата в 2 раза эффективнее</h2>
                <p class="bands-text">Забудьте о диетах, скучных тренировках, строгом режиме. Хватит действовать наугад и слушать самоучек тренеров! Организм сам знает что ему лучше, а браслет RocketBody знает ваш организм. 4 измерения в день позволят уже за первые недели получить результаты! Заказывайте браслет сейчас по специальной цене!</p>
                <p class="bands-text">Для всех целей исользуется подход олимпийских спортсменов, которому обучен искуственный интеллект, который гибко подстраиватся под особенности вашего организма и работает быстрее любого тренера.</p>
            </div>
            <div class="right-box">
                <img src="images/whiteclocks.png" alt="" class="bands-img"><br/>
                <a class="btn btn-order bands-order" data-toggle="modal" data-target="#myModal">заказать <span>ОТ 135$</span></a>
                <a class="btn btn-order bands-order" data-toggle="modal" data-target="#myModal">заказать <span>ОТ 195$</span></a>
            </div>
        </div>
        <div class="bands-img-holder">
            <img src="images/all.png" alt="color-bands" class="bands-img-block">
        </div>
    </section>

    <!-- ORDER -->
    <section class="order">
        <div class="container">
            <div class="left-box">
                <h2 class="order-header">Закажи браслет сейчас и получи доступ к приложению бесплатно!</h2>
                <ul class="list-unstyled order-list">
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Ускорь спортивный результат</div></li>
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Упрости достижение цели</div></li>
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Кушай любимые продукты</div></li>
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Тренируйся эффективно и интересно</div></li>
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Контролируй стресс</div></li>
                    <li class="order-list-item"><i class="icon icon-check-white"></i><div>Спи полноценно</div></li>
                </ul>
                <a class="btn btn-cta order-cta" data-toggle="modal" data-target="#myModal">ЗАКАЗАТЬ</a><br/>
                <span class="order-price-sale"><br/>259 $</span>
                <span class="order-price">195 $</span>
            </div>
            <div class="right-box">
                <!-- <img src="" alt="" class="order-img"> -->
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="left-box">
                <ul class="list-inline list-unstyled footer-list">
                    <li class="footer-list-item"><i class="icon icon-facebook"></i><a href="#" class="" target="_blank"></a></li>
                    <li class="footer-list-item"><i class="icon icon-inst"></i><a href="#" class="" target="_blank"></a></li>
                    <li class="footer-list-item"><i class="icon icon-telegramm"></i><a href="#" class="" target="_blank"></a></li>
                </ul>
            </div>
            <div class="right-box text-right">
                <span class="footer-copy">©2017 rocketbody  All rights reserved</span>
                <a href="#home" class="footer-link">
                    <img src="images/logo-footer.png" alt="rocketbody" class="footer-logo">
                </a>
            </div>
        </div>
    </footer>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Заполните форму <br/>и наш менеджер свяжется с вами</h4>
      </div>
      <div class="modal-body">
          <form accept-charset="UTF-8" method="post" action="/send.php" >
            <div class="form-group">
                <label for="exampleInputPassword1" class="sr-only">Имя</label>
                <input type="text" required="" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="sr-only" >e-mail</label>
                <input type="email" required="" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-cta">Заказать</button>
          </form>
      </div>
    </div>
  </div>
</div>
